.card-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-box {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 30px;
  /* justify-content: space-between; */
}

.create-box {
  flex-grow: 1;

  h3 {
    text-align: center;
  }
}

.empty-list {
  width: 300px;
  text-align: center;
}
